body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    height: 100vh;
    display: flex;
}

.sidebar{
    background-color: #000;
    width: 300px;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;  /*16px*/
    overflow: auto;
}
.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;  /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
}

.nav-option{
    line-height: 40px;
    opacity: 0.7;
    padding: 0 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 0.5rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
}
.options{
    display:flex ;
    justify-content: space-between;
}

.lib-options {
display:  flex;
padding: .5rem .75rem;
width: 100%;
justify-content: space-between;
opacity: .7;
}


.lib-options:hover {
    opacity: 1;
}


.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.boxes{
  
}
.box1{
    background-color: #242424;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
   /* width: 100%; */
   margin: 10px;
   padding: 10px;
   object-fit:cover ;
}
.box1 span{
    font-weight: 600;
    margin: 7px;
}

.box1 button{
    border-radius: 30px;
    height: 35px;
    width: 60%;
    font-weight: bold;
}

.box1 p{
margin-top: 16px;
margin-left: 7px;
margin-bottom: 18px;
font-size: 12px;
font-weight: 300;
}


.box2{
    background-color: #242424;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
   /* width: 100%; */
   margin: 10px;
   padding: 10px;
   object-fit:cover ;
   justify-content: space-around;
}

.box2 span{
    font-weight: 600;
    font-size: 15px;
}

.box2 p{
    font-size: 12px;
    font-weight: 300;
}

.box2 button{
    border-radius: 30px;
    height: 35px;
    width: 60%;
    font-weight: bold;
}