section{
    width: 80%;
    margin: auto;
    display: flex;
    
}

.card{
    height: 500px;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

img{
    width: 98%;
    height: 30%;
    border-radius: 20px;
    object-fit: cover;
}   

p{
    padding: 10px;
}

